{% extends 'base.html.twig' %}

{% block title %}Fiche Jeu{% endblock %}

{% block body %}

<h1 class="text-3xl mb-5">Fiche du Jeu</h1>
{# game card #}
<div class="rounded-md shadow-lg overflow-hidden border border-gray-600/25">
	{# bannière #}
	<div class="w-full z-[-1] relative flex flex-col items-center">
		<img src="https://lesplayersdudimanche.com/wp-content/uploads/2023/10/Super-Mario-Bros.-Wonder-cover.jpg"
		class="rounded absolute top-0 w-full h-[10rem] object-cover contrast-125 saturate-125"
		/>
		<div class="absolute top-0 w-full h-[10rem] bg-black/30 backdrop-blur-xl"></div>
	</div>
	{# contenu #}
	<div class="p-5 flex flex-col items-center">
		{# image principale #}
		<img src="https://lesplayersdudimanche.com/wp-content/uploads/2023/10/Super-Mario-Bros.-Wonder-cover.jpg"
		class="rounded-md shadow-md w-[320px] text-center"
		draggable="false"
		/>
		<h1 class="text-2xl font-black">{{ jeu.titre }}</h1>
		<a class="inline-block rounded text-white bg-{{ jeu.genre.couleur }}-500 px-1"
		href="{{ path('app_jeu_filtre', {'genre': jeu.genre.libelle}) }}">{{ jeu.genre.libelle }}</a>
		
		<button class="block rounded text-white bg-blue-600 hover:bg-blue-800 py-1 px-2">Ajouter au panier</button>
	</div>
</div>

{% endblock %}