<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome{% endblock %}</title>
        <link rel="icon" href="https://avatars.githubusercontent.com/Cyb-3r">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://horizon-tailwind-react-git-tailwind-components-horizon-ui.vercel.app/static/css/main.ad49aa9b.css" />
    </head>

    <body class="m-0 flex flex-col gap-y-5 w-[100vw] h-[100vh]">
        <header class="flex flex-row w-full h-[5rem] items-center px-10 border-b-1 shrink-0">
            <h1 class="text-3xl font-black uppercase tracking-wide"><a href="{{path('app_accueil')}}">ThrowGaming</a></h1>
            <nav class="flex flex-row gap-x-2">
                {# pages #}
                <div>
                    <a class="" href="{{path('app_jeu')}}">catalogue de jeu</a>
                    <a class="" href="#">consoles</a>
                    <a class="" href="#">editeur</a>
                </div>
                {# login #}
                <div>
                    <button></button>
                    <button></button>
                </div>
            </nav>
        </header>

        <main class="container mx-auto px-10">
            {% block body %}{% endblock %}
        </main>

        <footer class="px-4">
            
        </footer>
    </body>
</html>
